---
const today = new Date()
---

<footer class='flex justify-center items-center w-full px-16 h-28 border-t-2'>
	&copy; {today.getFullYear()} Digital Brew LLC. All rights reserved.
</footer>

<!-- <footer className="py-4">
	<div className="mt-16 flex flex-col items-center">
	  <div className="mb-3 flex space-x-4">
		<SocialIcon kind="mail" href={`mailto:${siteMetadata.email}`} size={6} />
		<SocialIcon kind="facebook" href={siteMetadata.facebook} size={6} />
		<SocialIcon kind="instagram" href={siteMetadata.instagram} size={6} />{' '}
		<SocialIcon kind="pinterest" href={siteMetadata.pinterest} size={6} />
		{/* add Pinterest */}
	  </div>
	  <div className="mb-2 flex space-x-2 text-sm text-black dark:text-oatmeal">
		<div>{siteMetadata.company}</div>
		<div>{` ~ `}</div>
		<div>{`© ${new Date().getFullYear()}`}</div>
		<div>{` ~ `}</div>
		<Link href="/">{siteMetadata.title}</Link>
	  </div>
	</div>
  </footer> -->
